.block-title {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .block-title {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .block-title {
    gap: 28px;
  }
}

@media screen and (max-width: 320px) {
  .block-title {
    flex-direction: column;
    gap: 32px;
  }
}
