.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: none;
  color: #FFFFFF;
  padding-right: 18px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 780px) {
  .footer__link {
    padding-right:10px;
  }
}

@media screen and (max-width: 730px) {
  .footer__link {
    padding-right: 5px;
  }
}

@media screen and (max-width: 650px) {
  .footer__link {
    font-size: 12px;
    line-height: 12px;
  }
}

@media screen and (max-width: 555px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}
