.cover {
  background-image: url("../../images/__background.jpg");
  background-repeat: no-repeat;
  margin: 92px 48px 92px;
  display: flex;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.cover::before {
  position: absolute;
  background-color: #2A2C2F;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.3;
  z-index: -1;
  transition: 0.3s;
}

.cover:hover::before {
  opacity: 0.8;
}

.cover::after {
  content: '';
  width: 0;
  height: 0;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px auto 92px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 650px) {
  .cover {
    margin: 66px auto 64px;
  }
}
