.cover__title {
  width: calc(100% - 312px * 2);
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  margin: 245px auto 32px;
  z-index: 1;
  color: white;
}

@media screen and (max-width: 1220px) {
  .cover__title {
    width: calc(100% - 250px * 2);
  }
}

@media screen and (max-width: 1024px) {
  .cover__title {
    width: calc(100% - 232px * 2);
    margin-top: 195px;
  }
}

@media screen and (max-width: 960px) {
  .cover__title {
    width: calc(100% - 180px * 2);
    margin-top: 115px;
  }
}

@media screen and (max-width: 870px) {
  .cover__title {
    width: calc(100% - 140px * 2);
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: calc(100% - 104px * 2);
  }
}

@media screen and (max-width: 715px) {
  .cover__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 650px) {
  .cover__title {
    width: calc(100% - 16px * 2);
    font-size: 32px;
    line-height: 109%;
    margin: 33px auto 16px;
  }
}
